<!--<a href="../images/vip/{{vip.PHOTO_ADRESSE}}"></a>-->

<!--<p><b>Nom:</b>{{vip.VIP_NOM}}</p>-->

<!--<p><b>Nationalité:</b>{{vip.VIP_NOM}}</p>-->

<!--<p><b>Profession:</b>{{vip.VIP_NOM}}</p>-->

<!--<p><b>Mariage(s):</b>{{vip.VIP_NOM}}</p>-->

<!--<p><b>Liaison(s):</b>{{vip.VIP_NOM}}</p>-->

<!--<p><b>Qui suis-je ?:</b>{{vip.VIP_NOM}}</p>-->

<!--{{#each toutesPhotosPerso}}-->
<!--    <a href="../images/vip/{{vip.PHOTO_ADRESSE}}"></a>-->
<!--{{/each}}-->

